<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chandramohanr.followmate">

    <!--For getting user phone number-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--For account authentication-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--For sync adapter-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.FollowmateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".app.services.UserService" />

        <activity
            android:name=".app.activities.SplashActivity_"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/Theme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.activities.SignInActivity_"
            android:label="@string/register_mobile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithActionBar" />

        <activity
            android:name=".app.activities.MainActivity_"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="www.followmate.com" android:pathPattern="/join/.*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.activities.AuthenticateJoinActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppDialog" />

        <activity
            android:name=".app.activities.ContactListActivity_"
            android:screenOrientation="portrait" />

        <service
            android:name="com.example.chandramohanr.followmate.app.services.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.example.chandramohanr.followmate.app.services.ContactSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/contact_sync_adapter" />
        </service>

        <service android:name="com.example.chandramohanr.followmate.app.services.ContactService" />

        <provider
            android:name="com.example.chandramohanr.followmate.app.network.ContactProvider"
            android:label="Followmate Contacts"
            android:authorities="com.followmate.app.contacts"
            android:syncable="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVST-5P6UxnBZaImC2nYWHljR9ggqLldE" />
    </application>

</manifest>
